{% extends "html/layouts/default.twig" %}
{% block content %}

<section>
	<header>
		<h1>Help</h1>
		<hr>
	</header>
	<h2>Add URL</h2>
	    <p>To shorten a link, copy and paste the link into the “Paste a long URL” box.</p>
	    <p>Note: A QR code is generated for every shortened URL.</p>
	<h3><small class="text-body-secondary">Alias</small></h3>
	    <p>Every time the Add URL page loads, an alias is randomly generated but you can change the alias to be anything you want (however you are limited to 5 characters).</p>
	<h3><small class="text-body-secondary">Destination Preview</small></h3>
	    <p>If checked: when the URL is clicked or a QR scanned, folks will be taken to a Bton preview page that shows the original URL, the shortened URL, and QR code.</p>
	    <p>If unchecked: when the URL is clicked or a QR scanned, folks are taken straight to the destination URL.</p>
	<h2>Edit a URL</h2>
		<ol>
			<li >Go to <a href="{{ uri('urls.index') }}">All URLs</a></li>
			<li >Sort by your username
				<ul>
					<li>
						<em>You can only edit the shortened URLs you have created!</em>
					</li>
				</ul>
			</li>
			<li >Select the Info button of an URL you wish to edit</li>
			<li >Click Edit to change the following:
				<ul>
					<li>Update a broken or dead link with a new URL</li>
					<li>Change the Alias</li>
					<li>Delete Short URL</li>
				</ul>
			</li>
		</ol>
</section>

{% endblock %}