{% macro pageLinks(totalItemCount, itemsPerPage=20, pageNumber=1, pageRange=10) %}
    {% set pageCount = (totalItemCount / itemsPerPage)|round(0, 'ceil') %}

    {% if pageRange > pageCount %}
        {% set pageRange = pageCount %}
    {% endif %}

    {% set delta = (pageRange / 2)|round(0, 'ceil') %}

    {% if (pageNumber - delta) > (pageCount - pageRange) %}
        {% set lowerBound = pageCount - pageRange + 1 %}
        {% set upperBound = pageCount %}
    {% else %}
        {% if (pageNumber - delta) < 0 %}
            {% set delta = pageNumber %}
        {% endif %}

        {% set lowerBound = (pageNumber - delta + 1) %}
        {% set upperBound = (pageNumber - delta + pageRange) %}
    {% endif %}

    <nav class="mt-3" aria-label="Search results pages">
        <ul class="pagination pagination-sm justify-content-center">
            {% set url = current_url() %}
            {% do url.__set('page', 1) %}
            <li class="page-item">
                <a class="page-link" href="{{ url }}">First</a>
            </li>
            {% for i in lowerBound..upperBound %}
                {% do url.__set('page', i) %}
                <li class="page-item{% if i == pageNumber %} active{% endif %}">
                    <a class="page-link" href="{{ url }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% do url.__set('page', pageCount) %}
            <li class="page-item">
                <a class="page-link" href="{{ url }}">Last</a>
            </li>
        </ul>
    </nav>
{% endmacro %}