{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param string code
 * @param string original
 * @param string title
 * @param bool   preview
 * @param int    CODE_LENGTH   Short URL codes must be exactly this length
 * @param string CODE_PATTERN  Valid regex pattern for code input
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section id="addForm">
    <header>
        <h2>Shorten a URL</h2>
    </header>
    <form method="post">
        <fieldset>
            {% include 'html/urls/partials/fields.twig' %}
            <button type="submit">Save</button>
        </fieldset>
    </form>
</section>
{% endblock %}
