{#
 * @copyright 2017-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param array  people         Array of people search results
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section class="urls-view">
    <header>
        <h1>URLS</h1>
        <h1>{{ _(['id', 'code', 100]) }}</h1>
        <p>TODO: serach for urls</p>
    </header>

    


</section>
{% endblock %}