{#
 * @copyright 2017-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param array  people         Array of people search results
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section>
    <header>
        <h1>{{ _(['person', 'people', 100]) }}</h1>
    </header>
    <form method="get">
        <fieldset>
            <div><h1>URLS</h1></div>
        </fieldset>
    </form>
</section>
{% endblock %}