{#
 * @copyright 2009-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    
</section>
{% endblock %}
