{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Domain\Urls\Entities\Url url
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section id="updateForm" class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <form method="post">
                <fieldset>
                    <legend><h1>Update a Short URL</h1></legend>
                    <input type="hidden" name="id" value="{{ url.id }}" />
                    {% include 'html/urls/partials/fields.twig' %}
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{{ uri('urls.view', {'id':url.id}) }}" class="btn btn-secondary">Cancel</a>
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock %}
