{#
 * @copyright 2019-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string id
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param string title
 * @param string return_url
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>

</section>
{% endblock %}