{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string id
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param string title
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <h1>Edit URL</h1>
    <form method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{ id }}" />

            <div>
                <label for="code">Code:</label>
                <input type="text" id="code" name="code" value="{{ code }}" required />
            </div>

            <div>
                <label for="original">Original:</label>
                <input type="text" id="original" name="original" value="{{ original }}" required />
            </div>

            <button type="submit">Save</button>
        </fieldset>
    </form>
</section>
{% endblock %}
