{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string id
 * @param string code
 * @param string original
 * @param bool   preview
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section id="updateForm">
    <header>
        <h2>Edit URL</h2>
    </header>
    <form method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{ id }}" />

            {% include 'html/urls/partials/fields.twig' %}
            <button type="submit">Save</button>
            <a href="{{ uri('urls.view', {'id':id}) }}" class="cancel button">Cancel</a>
        </fieldset>
    </form>
</section>
{% endblock %}
