// COB Color Pallete
$cob-blue:         #182d5a;
$vibrant-blue:     #36a9e1;
$basic-blue:       #2c52a0;
$teal:             #4eb3a8;
$green:            #95c11f;
$red:              #e73b28;
$orange:           #f39200;
$pink:             #ea4f94;
$yellow:           #fdd900;
$gold:             #ecbb40;
$purple:           #662483;
$gray-blue:        #475c73;
$gray-light:       #939291;
$gray-dark:        #4b4a4b;
