$size-logo-height: 55px;

body > header {
    background-color: $color-content-background;
    border-top: $size-gutter solid $color-header;
    color: $color-header;
    padding-top:$size-gutter; padding-left:$size-gutter;
    height: (2 * $size-gutter) + $size-logo-height;

    background: url('../images/cob-logo-horizontal.svg') no-repeat left center;
    background-size: 233px $size-logo-height;
    text-align: center;

    h1 {
        display: inline-block;
        margin: .2em 0;
        vertical-align: middle;
        a {
            margin-left: $size-gutter;
            font-size:$font-size-bigger; font-weight: normal;
        }
    }

    a {
        color: $color-header;
        font-family: $font-family-nav;
    }
}

body > nav {
    height: 2rem;
    display: flex; align-items: center;
    background-color: $color-header;
    a {
        font-weight: bold;
        color: $color-content-background;
        margin: $size-gutter;
    }
}
