@font-face { font-family: 'Roboto'; src: url('../Roboto/Roboto-Regular.ttf'); }

$serif: serif;
$sans:  'Roboto';

// Fonts
$font-family-default: $sans;
$font-family-heading: $sans;
$font-family-nav:     $sans;
$font-weight-heading: 700;

$font-size-base: 100%; // 16px in most browser defaults

$font-size-huge:    36px;
$font-size-biggest: 27px;
$font-size-bigger:  24px;
$font-size-big:     19px;
$font-size-normal:  14px;
$font-size-small:   12px;


@import 'color-palette';
// Foreground colors
$color-text-default:       #000;;
$color-text-secondary:     $gray-dark;
$color-link:               $cob-blue;
$color-heading:            #000;
$color-divider:            $gray-light;

// Background colors
$color-content-background:  #fff;
$color-selected-background: $vibrant-blue;

$color-nav1:                $cob-blue;
$color-header:              $cob-blue;
$color-header-border:       $cob-blue;
$color-footer:              $gray-dark;
$color-error:               $red;
$color-alert:               $red;
$color-action:              $green;
$color-action-hover:        $teal;
$color-accent:              $red;

// Special widget colors
$color-background-field:           #fff;
$color-background-field-highlight: #fff;
$color-border-input:               $gray-dark;
$color-border-input-highlight:     $gray-dark;
$color-border-table:               $gray-light;

$color-table-background:           #fff;
$color-table-background-alt:       $gray-light;
$color-table-header-background:    $cob-blue;

$color-shadow: rgba(0, 0, 0, 0.5);

$viewport-small:   (350px);
$viewport-medium:  (640px);
$viewport-large:  (1080px);

$size-gutter: 4px;
