@import 'scss/vars';
@import 'scss/html-elements';
@import 'scss/header';

#errorMessages {
    background-color: $color-error;
}

@media (min-width: 700px) {
    main {
        display: flex; align-items: center; justify-content: center;
        margin: $size-gutter;

    }
}
section {
    background-color: $color-content-background;
    border-radius: $size-gutter;
    padding: $size-gutter;
    width: 80%; block-size: fit-content;
    header h2 {
        border-bottom: 1px solid $color-divider;
    }
    ol {
         list-style-type: numbers; padding: revert;
    }
    ul {
        list-style-type: circle; padding: revert;
    }
    img {
         max-width: 30%;
    }
    form details {
            padding: 8px;
            width: fit-content;
            block-size: fit-content;
            border: none;
            border-radius: 0px;
    }
}

article {
    margin-bottom: $size-gutter;
    border-bottom: 1px solid $color-divider;
    padding-bottom: 8px;
    header {
        font-size: $font-size-big; 
        font-weight: bold; 
        white-space: nowrap; 
        overflow: hidden;
        h2 {
            border-bottom: 0px;
        }
    }
    div {
        margin:$size-gutter 0 ($size-gutter/2) 0;
    }
}
details, fieldset > div {
    margin-bottom: $size-gutter;
    font-weight: bold;
}

input#code { width: 5em; }

label[for="username"] { display: inline; }

label[for="preview"] { display: inline; }

label[for="sort"] { display: inline; }

label[for="query"]   { display: none; }

button[type="submit"] {
    background-color: $button-submit-background;
    color: $color-content-background;
}
.button.edit   { background-color: $color-link;  color: $color-content-background; }
.button.delete { background-color: $color-alert; color: $color-content-background; }
.button.cancel { background-color: $color-alert; color: $color-content-background; }
.button.info   { background-color: $cob-blue; color: $color-content-background; margin: 0px; }

.help { font-style: italic; }
.pageNavigation {
    a {
        border-collapse: collapse;
        padding: 0 1ex;
        text-align: center;
    }
    .current {
        background-color: $cob-blue;
        color: $color-content-background;
    }
}
