@import 'scss/vars';

@import 'scss/html-elements';
@import 'scss/header';

#errorMessages {
    background-color: $color-error;
}

html { background-color: $color-selected-background; }
@media (min-width: 700px) {
    main {
        display: flex; align-items: center; justify-content: center;
        margin: $size-gutter;
    }
}
section {
    background-color: $color-content-background;
    border-radius: $size-gutter;
    padding: $size-gutter;
    width: fit-content; block-size: fit-content;

    header h2 {
        border-bottom: 1px solid $color-divider;
    }
}

article {
    border-bottom: 1px solid $color-divider;
    header {
        font-size: $font-size-big; font-weight: bold;
    }
}
details, fieldset > div {
    margin-bottom: $size-gutter;
}

label[for="preview"] { display: inline; }
label[for="query"]   { display: none;   }
button[type="submit"] {
    background-color: $color-action;
    color: $color-content-background;
}
.button.edit   { background-color: $color-link;  color: $color-content-background; }
.button.delete { background-color: $color-alert; color: $color-content-background; }
.button.cancel { background-color: $color-alert; color: $color-content-background; }

.help { font-style: italic; }
.pageNavigation {
    a {
        display: table-cell;
        border-collapse: collapse;
        border: 1px solid $color-divider;
        padding: 0 1ex;
        text-align: center;
    }
    .current {
        background-color: $color-action;
    }
}
