@import 'scss/vars';

@import 'scss/html-elements';
@import 'scss/layout';
@import 'scss/header';

#errorMessages {
    background-color: $color-error;
}

article {
    border-bottom: 1px solid $color-divider;
    header {
        font-size: $font-size-big; font-weight: bold;
    }
}

.pageNavigation {
    a {
        display: table-cell;
        border-collapse: collapse;
        border: 1px solid $color-divider;
        padding: 0 1ex;
        text-align: center;
    }
    .current {
        background-color: $color-action;
    }
}
