<header class="navbar navbar-light bg-light">
    <a class="navbar-brand d-flex align-items-center" href="/bton">
        <img src="/bton/Bootstrap/images/logo.svg" alt="COB Logo" style="width: 130px; height: 130px;" class="d-inline-block align-top mr-2">
        <span style="font-size: larger;">BTon Short Urls</span>
    </a>
</header>
