<header class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ BASE_URI }}">
        <img src="{{ BASE_URI }}/Bootstrap/images/logo.svg" class="d-inline-block align-top" alt="COB Logo">
        {{ APPLICATION_NAME }}
    </a>
</header>
