<nav>
    {% if isAllowed('urls', 'index') %}
    <a href="{{ uri('urls.index') }}">All Urls</a>
    {% endif %}

    {% if isAllowed('urls', 'add') %}
    <a href="{{ uri('urls.add') }}">Add Url</a>
    {% endif %}

    <a href="{{ uri('help.') }}">Help</a>

    <a href="https://bloomington.in.gov/ureport/miscellaneous/53">Feedback</a>
</nav>
